*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: sans-serif;
}
body{ 
   min-height:100vh;
   overflow-x:hidden;

}


#logo{
  font-size: 1.5rem;
  font-weight: 800;
  color: transparent;
  background:url(3.jpg);
  background-position: center;
  -webkit-background-clip:text;
  animation: animatedBack 3s ease infinite;
}

@keyframes animatedBack{
  from{
    background-position: 0 0;
  }
  to{
      background-position: 0 100%;
  }
}
.container{
  position:relative;
  width:100%; 

}

.nav{ 
  position:fixed;
  background:#287;
  width:300px;
  height:100%;
  border-left:10px solid #287;
  transition:0.5s;
  overflow:hidden;
  
}
.nav.active{
  width: 70px;
}

.nav ul{
  position:absolute;
  top:0;
  left:0;
  width:100%;
}
.nav ul li{
  position:relative;
  width:200%;
  list-style:none;
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
  transition: ease 0.5s;
  
}
.nav ul li:hover{
  background:#fff;
}
.nav ul li a{
  position:relative;
  display:block;
  width:100%;
  display:flex;
  text-decoration:none;
  color:#fff;
  
  padding:0 10px;
  height:60px;
  line-height:60px;
  text-align:start;
  white-space:nowrap;
  
  font-size:1.2rem;
  font-weight:400;
}
.nav ul li:hover a{
   color:#287b;
}
.nav ul li a .icon{
  padding-right: 20px;

}




/*main*/


.main{
  position: absolute;
  width:calc(100% - 300px );
  left:300px;
  min-height: 100vh;
  transition: 0.5s;
  background: #ccc
}
.main.active{
  width: calc(100% - 70px);
  left: 70px;
}
.topbar{
  width: 100%;
  height:60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: #fff;


}
.toggle{
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  cursor: pointer;
}
.search{
  position: relative;
  width: 400px;
  margin:20px;

}
.search label{
  position: relative;
  width: 100%;

}
.search label input{
  width: 250px;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  outline: none;
  border:1px solid #acac;
}
.user{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

}
.user img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}





.ct{
  width:100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  overflow-x: hidden;
}
.c{
  margin: 10px;
  background: #fff;
  width: 150px;
  height:60px;
  border-radius: 10px;
  color: #287b;
  font-size: 1rem;
  font-weight: 600;
  transition: transform 0.3s;
  animation: 2s linear 2s infinite alternate anima;
}
.c:hover{
  transform: scale(1.2);
}
.fa{
  padding: .2rem;
  font-size: 2rem;
}
.c span{
font-size: .6rem;

}

@keyframes anima {
  from{
    transform: scale(.7);
  }
to{
  transform: scale(1.2);
}
}


/*Details*/

.details{
  position: relative;
  padding: 20px;
  margin: 20px;
  background: #fff;
 
}

.cardheader{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cardheader h2{
  font-weight: 600;
  color: #287bff;
  transition: transform 0.2s;
}
.cardheader h2:hover,.cardheader a:hover
{
  transform: scale(1.2);
}
.cardheader a{
  text-decoration: none;
  background: #267bff;
  color: #fff;
  padding:.5rem;
  border-radius: 1rem;
  transition: transform 0.2s;
  font-weight: 600;

}
.details .recentorder{
  position: relative;
  min-height:500px;
  display: grid;
  padding: 20px;

}


.details .recentorder thead{
  font-size: 1.2rem;
  font-weight: 600;
}
.details table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table tr{
  border-bottom: 1px solid #ccc;
  transition: ease 0.4s;
}
.details table tbody tr:hover{
  background: #287;
  color: darkorange;
  font-weight: 400;
}


.status{
  padding: .4rem;
  border-top-right-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  cursor: pointer;

}

 .status.ret{
  background: red;
  color: #fff;

}
 .status.del{
  background: green;
    color: #fff;


}
 .status.pro{
background: blue;
  color: #fff;

}
 .status.ped{
  background: purple;
  color: #fff;

}

.btn{
  margin-top: 30px;
  width: 100%;
  height: 30px;
  background-color: #278fff;
  border: 0;
  font-size: 1.2rem;
  color: #fff;
}



.top{
  background-color: #278a;
  width: 80px;
  margin: 6px;
  padding: .3rem;
  border-radius: 10px;
    transition: transform ease 0.3s;

}
.top a{
  text-decoration:none;
  color:#f7f7f7;

}
.top:hover{
  transform: scale(1.2);
}




/*MEDIA QUERY*/

@media (max-width: 909px){
  .nav{
  width: 65px;
   }
   .main{
    width: calc(100% - 65px);
    left: 65px;
   }
   .nav.active{
       width:300px;
   }
   .main.active{
      width:calc(100% - 300px );
      left:300px;
   }

}
/*@media (max-width: 500px){
     .nav.active{
       width:450px;
   }
   .main.active{
      width:calc(100% - 400px );
      left:450px;
   }
   .small.active{
    display: none;
   }

}*/
@media (max-width: 500px){
  .search label input{
  width: 150px;
}
  *{
    font-size: 1rem;
  }
  .details{
    margin: 0;
    padding: .2rem;
  }

  .nav{
  width: 65px;
   }

   .main{
    width: calc(100% - 65px);
    left: 65px;
   }

     .nav.active{
       width:90%;
   }
   .main.active{
      width:calc(100% - 90% );
      left:90%;
      overflow-x: hidden;
   }
   .small.active{
    display: none;
   }

}


/*LOGIN FORM*/


.bdy{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper{
  background-color: #fff;
  width: 450px;
  border-radius: 16px;


}

.form{
  padding: 25px 30px;
}
.form header{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;

}
.form form{
  margin: 20px 0;

}
.form form .error-text{
  color: #721c24;
  background-color: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border:1px solid #f5c6cb;


}
.hidde{
  display: none;
}


.form form .fields{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.form form .fields label{
  margin-bottom: 2px;
}
.form form .fields input{
  outline: none;
}
.form form .fields.input input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border:1px solid #ccc;
  border-radius: 5px;

}

.form form .btn1 input{
  margin-top:13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  cursor: pointer;
}
.form form .fields i{
  position: absolute;
  right: 15px;
  color: #ccc;
  top: 70%;
  transform: translateY(-50%);
    cursor: pointer;
}

